# Node modules
node_modules/
  
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Coverage reports
coverage/

# Others
*.log
